<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Net Ninja Vue 3 Crash Course</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link
			rel="stylesheet"
			href="/Part 1 - Intro/styles.css" />
	</head>
	<body>
		<div id="app">
			<h1>Hello Vue!</h1>
			<a :href="url">Google.com</a>
			<div>
				<h1>Favorite Books</h1>
				<span v-if="filteredFavBooks.length === 0"
					>Select a Book to add to favorites!</span
				>
			</div>
			<div
				v-if="showBooks"
				class="flex-class">
				<div
					v-for="book in filteredFavBooks"
					:class="{ fav: book.isFav }">
					<ul>
						<li @click="toggleFavorite(book)">
							<h2>{{ book.title }}</h2>
							<h4>by {{ book.author }}</h4>
							<img
								:src="book.cover"
								:alt="book.alt" />
						</li>
					</ul>
				</div>
				<h1>Books</h1>
				<div
					v-for="book in filteredBooks"
					:class="{ fav: book.isFav }">
					<ul>
						<li @click="toggleFavorite(book)">
							<h2>{{ book.title }}</h2>
							<h4>by {{ book.author }}</h4>
							<img
								:src="book.cover"
								:alt="book.alt" />
						</li>
					</ul>
				</div>
			</div>
			<div style="display: flex">
				<button
					class="button-29"
					role="button"
					@click="toggleShowBooks">
					<span v-if="showBooks">Hide Books</span>
					<span v-else>Show Books</span>
				</button>
			</div>
			<div class="top-space">
				<span v-show="showBooks">Currently Showing Books</span>
				<span v-show="!showBooks">Currently Hiding Books</span>
			</div>

			<br />

			<div
				@mouseover="handleHover($event, 5)"
				class="box">
				Mouse Over
			</div>
			<div
				@mouseleave="handleLeave"
				class="box">
				Mouse Leave
			</div>
			<div
				@dblclick="handleDoubleclick"
				class="box">
				Double Click
			</div>
			<div
				@mousemove="handleMouseMove"
				class="box">
				Position: {{ x }}, {{ y }}
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>
